@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление вопроса</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label>Выбрать из существующих?</label></div>
    <div class="form-group">
        @Html.ActionLink("Добавить от существующего вопроса", "EditExistingQuestion", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Ввести новый вопрос", "InputQuestion", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Завершить редактирование", "Index", "DisplayES",null, new { @class = "btn btn-primary" })
    </div>

</div>
