@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Экспертная система "Футбольные клубы России и Украины"</h2>
<div class="form-horizontal">
    <div class="form-group col-sm-12">
        @Html.ActionLink("Начать использование!","ExecuteES", "DisplayES", new {@class="btn btn-primary"})
    </div>
</div>