USE [ex_system_test]
GO
/****** Object:  Table [dbo].[esAnswers]    Script Date: 9/9/2014 9:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[esAnswers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idNodeQuestion] [int] NOT NULL,
	[data] [nvarchar](max) NOT NULL,
	[idNodeSubject] [int] NOT NULL,
 CONSTRAINT [PK_esAnswers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[esNodes]    Script Date: 9/9/2014 9:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[esNodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idNode] [int] NOT NULL,
	[data] [nvarchar](max) NULL,
	[isLeaf] [bit] NOT NULL,
	[idParentNode] [int] NOT NULL,
 CONSTRAINT [PK_esNodes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[esAnswers] ON 

INSERT [dbo].[esAnswers] ([id], [idNodeQuestion], [data], [idNodeSubject]) VALUES (152, 263, N'Москва', 264)
INSERT [dbo].[esAnswers] ([id], [idNodeQuestion], [data], [idNodeSubject]) VALUES (153, 264, N'Тихонов, Ковтун, Юран, Карпин', 265)
INSERT [dbo].[esAnswers] ([id], [idNodeQuestion], [data], [idNodeSubject]) VALUES (154, 264, N'Вагнер Лав, Карвальо, Семак, Алдонин', 266)
SET IDENTITY_INSERT [dbo].[esAnswers] OFF
SET IDENTITY_INSERT [dbo].[esNodes] ON 

INSERT [dbo].[esNodes] ([id], [idNode], [data], [isLeaf], [idParentNode]) VALUES (1, 1, N'', 0, 0)
INSERT [dbo].[esNodes] ([id], [idNode], [data], [isLeaf], [idParentNode]) VALUES (263, 263, N'ФК расположен в...', 0, 1)
INSERT [dbo].[esNodes] ([id], [idNode], [data], [isLeaf], [idParentNode]) VALUES (264, 264, N'Там играет или когда-либо играл ...', 0, 263)
SET IDENTITY_INSERT [dbo].[esNodes] OFF
