@model EGCad.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
	Layout = "~/Views/Shared/_LogOnLayout.cshtml";
}

<h2>Управление настройками аккаунта</h2>

<div>
	<dl class="dl-horizontal">
		<dt>Пароль:</dt>
		<dd>
			[
			@if (Model.HasPassword)
			{
				@Html.ActionLink("Изменить пароль", "ChangePassword")
			}
			else
			{
				@Html.ActionLink("Create", "SetPassword")
			}
			]
		</dd>
	</dl>
</div>
